.grid-container {
  display: grid;
  height: 50vmin;
  width: 90vmin;
  margin-top: 5vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 60%;
  padding: 2vh;
}

.a {
  grid-column: 1 / span 1;
  background-image: url('../assets/images/third-slide/morrison-pics/doors-live-for-third-slide.jpg');
  background-size: cover;
}

.b {
  grid-column: 2 / span 1;
  background-image: url('../assets/images/third-slide/morrison-pics/morrison-smoke.jpg');
  background-size: cover;
  background-position: center;
}

.c {
  grid-column: 3 / span 1;
  background-image: url('../assets/images/third-slide/morrison-pics/doors-full.jpg');
  background-size: cover;
}

.d {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  background-image: url('../assets/images/third-slide/morrison-pics/doors-colour.jpg');
  background-size: cover;
}

.artist-bio {
  /* padding-left: 100vh; */
  /* border: 2px solid orange; */
  padding: 1vh;
}

.artist-bio h1 {
  line-height: 2;
  font-size: 4vh;
}

.editional-info p {
  font-size: 2.3vh;
}

.editional-info a {
  font-size: 2.3vh;
}

.more-bio {
  text-align: center;
  font-family: 'Bree Serif', serif;
}

.music-link {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-family: 'Bree Serif', serif;
}

a {
  text-decoration: none;
  color: black;
  transition: .5s;
}

a:hover {
  text-decoration: underline;
  color: rgb(245, 124, 10);
}

.editional-info {
  margin: 2vh 2vh;
  border: 2px solid orange;
}

#Morrison {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .grid-container {
    height: 55vmin;
    width: 85vmin;
  }
}
