.janis {
  grid-column: 1 / span 1;
  background-image: url('../assets/images/third-slide/janis-joplin-pics/janis-joplin-woodstock.jpg');
  background-size: cover;
}

.joplin {
  grid-column: 2 / span 1;
  background-image: url('../assets/images/third-slide/janis-joplin-pics/joplin-janis-big-brother.jpg');
  background-size: cover;
  background-position: center;
}

.i {
  grid-column: 3 / span 1;
  background-image: url('../assets/images/third-slide/janis-joplin-pics/Photo-of-Janis-Joplin.jpg');
  background-size: cover;
  background-position: left;
}

.p {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  background-image: url('../assets/images/third-slide/janis-joplin-pics/joplin-live.jpg');
  background-size: cover;
}
